[submodule "stawallet"]
	path = stawallet
	url = git@github.com:mahdi13/stawallet.git
[submodule "cryptodaemon"]
	path = cryptodaemon
	url = git@github.com:mahdi13/cryptodaemon.git
[submodule "bootstacrypt"]
	path = bootstacrypt
	url = git@github.com:mahdi13/bootstacrypt.git
[submodule "stacrypt-meta"]
	path = stacrypt-meta
	url = git@github.com:mahdi13/stacrypt-meta.git
[submodule "stacrypt-web"]
	path = stacrypt-web
	url = git@github.com:mahdi13/stacrypt-web.git
[submodule "stamatcher"]
	path = stamatcher
	url = git@github.com:mahdi13/stamatcher.git
[submodule "stacrypt-api-doc"]
	path = stacrypt-api-doc
	url = git@github.com:mahdi13/stacrypt-api-doc.git
[submodule "stauth"]
	path = stauth
	url = git@github.com:mahdi13/stauth.git
