[submodule "stawallet"]
	path = stawallet
	url = git@github.com:mahdi13/stawallet.git
[submodule "cryptodaemon"]
	path = cryptodaemon
	url = git@github.com:mahdi13/cryptodaemon.git
[submodule "bootstacrypt"]
	path = bootstacrypt
	url = git@github.com:mahdi13/bootstacrypt.git
