[submodule "stawallet"]
	path = stawallet
	url = git@github.com:mahdi13/stawallet.git
	branch = master
[submodule "cryptodaemon"]
	path = cryptodaemon
	url = git@github.com:mahdi13/cryptodaemon.git
        branch = master
[submodule "bootstacrypt"]
	path = bootstacrypt
	url = git@github.com:mahdi13/bootstacrypt.git
        branch = master
[submodule "stacrypt-meta"]
	path = stacrypt-meta
	url = git@github.com:mahdi13/stacrypt-meta.git
        branch = master
[submodule "stacrypt-web"]
	path = stacrypt-web
	url = git@github.com:mahdi13/stacrypt-web.git
        branch = master
[submodule "stamatcher"]
	path = stamatcher
	url = git@github.com:mahdi13/stamatcher.git
        branch = master
[submodule "stacrypt-api-doc"]
	path = stacrypt-api-doc
	url = git@github.com:mahdi13/stacrypt-api-doc.git
        branch = master
[submodule "stauth"]
	path = stauth
	url = git@github.com:mahdi13/stauth.git
        branch = master
[submodule "stexchange"]
	path = stexchange
	url = git@github.com:mahdi13/stexchange.git
        branch = master
[submodule "stemerald"]
	path = stemerald
	url = git@github.com:mahdi13/stemerald.git
        branch = master

